body{
  background-color: rgb(44, 43, 73);
  color: whitesmoke;
}

nav{
  color: aqua;
  width: 100%;
}



.jumbotron {
  width: 100%;
  /* min-width: 55em; */
  min-height: 20vh;
  color: #fff;
  background: linear-gradient(-45deg, #d47558, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}